/*************** ARQUIVOS DE SCSS **************/
html,
body {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden; }

body * {
  -webkit-font-smoothing: antialiased; }

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0; }

html {
  overflow: -moz-scrollbars-none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-weight: normal; }

h2 {
  font-size: 1.8em;
  color: rgba(255, 153, 0, 0.9);
  margin: 0 0 0px 0;
  padding: 30px 0;
  width: 100%;
  height: auto;
  text-align: center; }
  h2.negativo {
    background: rgba(0, 0, 0, 0.85);
    color: rgba(255, 255, 255, 0.9); }
    h2.negativo small {
      color: rgba(255, 255, 255, 0.9); }
  h2 > small {
    display: block;
    margin: 15px 0 0 0;
    font-size: 0.5em;
    width: 100%;
    color: #666666;
    text-transform: none; }

h3 {
  font-size: 1.2em;
  color: rgba(255, 153, 0, 0.9);
  margin: 0 0 10px 0; }

p {
  margin: 0 0 10px 0;
  line-height: 1.4; }

a {
  text-decoration: none; }

strong {
  font-weight: bold; }

strong {
  font-weight: 500; }

body {
  color: #666666;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 20px;
  background: url(../img/bgs/mbs-bgs-body.jpg); }

main {
  display: block;
  width: 100vw;
  height: auto;
  min-height: 100%; }
  main > section {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    background-size: cover; }
    main > section a.ff, main > section a#topo {
      position: absolute;
      bottom: 0;
      left: 50%;
      color: white;
      width: 80px;
      height: 80px;
      text-align: center;
      -webkit-transform: translate(-50%, 0);
      -moz-transform: translate(-50%, 0);
      -o-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      transform: translate(-50%, 0); }
      main > section a.ff i, main > section a#topo i {
        font-size: 4em !important;
        position: absolute;
        bottom: 0;
        left: 0;
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
        text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5); }
      main > section a.ff:hover i, main > section a#topo:hover i {
        bottom: -10px; }
      main > section a.ff.ff-negativado, main > section a#topo.ff-negativado {
        color: rgba(255, 153, 0, 0.9); }
        main > section a.ff.ff-negativado i, main > section a#topo.ff-negativado i {
          text-shadow: none; }

header {
  z-index: 9999;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 60px;
  padding: 8px 30px;
  background: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.9);
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  header.mudacabecalho {
    height: 80px;
    padding: 18px 30px;
    background: rgba(0, 0, 0, 0.85); }
    header.mudacabecalho li {
      padding: 31px 30px; }
  header * {
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease; }
  header nav {
    text-transform: uppercase;
    font-family: "oswald_", sans-serif;
    letter-spacing: 2px;
    color: inherit; }
    header nav a#botaohome {
      display: inline-block;
      text-decoration: none;
      vertical-align: top;
      padding: 7px 0; }
      header nav a#botaohome h1 {
        display: block;
        width: 120px;
        height: 32px;
        text-align: center;
        text-indent: -9999px;
        background: url(../img/icones/mbs-meu-nome.png) 0 0 no-repeat; }
        header nav a#botaohome h1:hover {
          background-position: 0 -36px; }
    header nav ul {
      position: absolute;
      right: 1.5%;
      height: inherit;
      top: 0; }
      header nav ul li {
        display: inline-block;
        height: inherit;
        padding: 20px 30px; }
        header nav ul li a {
          color: rgba(255, 255, 255, 0.9);
          font-size: 16px;
          font-weight: normal;
          letter-spacing: 1px; }
          header nav ul li a:hover {
            color: rgba(255, 153, 0, 0.9); }

section.home {
  background-image: url(../img/bgs/mbs-bgs-home.jpg); }
  section.home > div {
    width: 400px;
    height: auto;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: absolute; }
    section.home > div img {
      display: block;
      margin: 0 auto 20px auto;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      border-radius: 20px;
      width: 100px;
      height: 100px;
      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6); }
    section.home > div small {
      text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.9);
      color: rgba(255, 255, 255, 0.9);
      font-size: 1.2em; }

section.pessoal > div {
  width: 96%;
  height: auto;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: absolute; }
  section.pessoal > div p {
    margin: 0 0 4% 0; }
  section.pessoal > div ul li {
    display: inline-block;
    margin: 0 20px; }
    section.pessoal > div ul li a {
      display: block;
      width: 64px;
      height: 64px;
      text-indent: -9999px;
      -webkit-transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      transition: all 0.4s ease; }
      section.pessoal > div ul li a[href*="linkedin"] {
        background: url(../img/icones/mbs-redes-sociais.png) 0 0 no-repeat; }
      section.pessoal > div ul li a[href*="facebook"] {
        background: url(../img/icones/mbs-redes-sociais.png) -64px 0 no-repeat; }
      section.pessoal > div ul li a[href*="twitter"] {
        background: url(../img/icones/mbs-redes-sociais.png) -128px 0 no-repeat; }
      section.pessoal > div ul li a[href*="instagram"] {
        background: url(../img/icones/mbs-redes-sociais.png) -192px 0 no-repeat; }
      section.pessoal > div ul li a[href*="pinterest"] {
        background: url(../img/icones/mbs-redes-sociais.png) -256px 0 no-repeat; }
      section.pessoal > div ul li a:hover {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg); }

section.profissional {
  background-image: url(../img/bgs/mbs-bgs-profissional.jpg);
  background-attachment: fixed;
  padding: 80px 0 100px 0; }
  section.profissional p {
    margin: 0 0 4% 0; }
  section.profissional ul.empresas {
    display: inline-block;
    width: 100%;
    height: auto;
    margin: 10px 0 20px 0;
    vertical-align: top; }
    section.profissional ul.empresas li {
      display: inline-block;
      width: 48%;
      height: 100%;
      margin: 10px 1%;
      padding: 10px 60px;
      text-align: center;
      vertical-align: top;
      background: rgba(0, 0, 0, 0.85);
      float: left; }
      section.profissional ul.empresas li p {
        display: block;
        padding: 5px 5px;
        font-size: 1em;
        line-height: 1.35;
        color: rgba(255, 255, 255, 0.9);
        margin: 0; }
        section.profissional ul.empresas li p span {
          color: rgba(255, 204, 0, 0.9);
          font-weight: 500; }
  section.profissional .habilidades {
    display: block;
    margin: 10px 1%;
    padding: 0 0 0 130px;
    min-height: 490px;
    vertical-align: top;
    background: url(../img/bgs/mbs-profissional-escala.png) top left no-repeat; }
    section.profissional .habilidades > small {
      font-size: 1.4em;
      color: rgba(255, 255, 255, 0.9);
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.85); }
    section.profissional .habilidades ul li:nth-child(1) {
      left: 0%; }
    section.profissional .habilidades ul li:nth-child(2) {
      left: 17%; }
    section.profissional .habilidades ul li:nth-child(3) {
      left: 34%; }
    section.profissional .habilidades ul li:nth-child(4) {
      left: 51%; }
    section.profissional .habilidades ul li:nth-child(5) {
      left: 68%; }
    section.profissional .habilidades ul li:nth-child(6) {
      left: 85%; }
    section.profissional .habilidades ul.grafico {
      display: block;
      width: 100%;
      height: 410px;
      margin: 5px 0 0 0;
      position: relative; }
      section.profissional .habilidades ul.grafico.fechado li {
        height: 10% !important; }
      section.profissional .habilidades ul.grafico li {
        position: absolute;
        bottom: 0;
        display: inline-block;
        width: 8.666%;
        height: 90%;
        margin: 25px 4% 0 4%;
        float: left;
        text-align: center;
        text-indent: -9999px;
        vertical-align: bottom;
        background: -webkit-gradient(linear, left top, right top, from(rgba(255, 153, 0, 0.9)), to(rgba(255, 204, 0, 0.9)));
        background: -webkit-linear-gradient(top, rgba(255, 153, 0, 0.9), rgba(255, 204, 0, 0.9));
        background: -moz-linear-gradient(top, rgba(255, 153, 0, 0.9), rgba(255, 204, 0, 0.9));
        background: -o-linear-gradient(top, rgba(255, 153, 0, 0.9), rgba(255, 204, 0, 0.9));
        background: -ms-linear-gradient(top, rgba(255, 153, 0, 0.9), rgba(255, 204, 0, 0.9));
        background: linear-gradient(top, rgba(255, 153, 0, 0.9), rgba(255, 204, 0, 0.9));
        -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
        box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
        -webkit-transition: all 0.6s ease;
        -moz-transition: all 0.6s ease;
        -o-transition: all 0.6s ease;
        transition: all 0.6s ease; }
        section.profissional .habilidades ul.grafico li:nth-child(1) {
          height: 95%; }
        section.profissional .habilidades ul.grafico li:nth-child(2) {
          height: 90%; }
        section.profissional .habilidades ul.grafico li:nth-child(3) {
          height: 65%; }
        section.profissional .habilidades ul.grafico li:nth-child(4) {
          height: 65%; }
        section.profissional .habilidades ul.grafico li:nth-child(5) {
          height: 95%; }
        section.profissional .habilidades ul.grafico li:nth-child(6) {
          height: 25%; }
    section.profissional .habilidades ul.legenda {
      display: block;
      margin: 10px 0;
      position: relative; }
      section.profissional .habilidades ul.legenda li {
        position: absolute;
        display: inline-block;
        width: 8.666%;
        float: left;
        margin: 0 4%;
        color: rgba(255, 255, 255, 0.9);
        text-align: center;
        font-size: 1.4em; }

section.qualificacoes {
  padding: 80px 0 100px 0; }
  section.qualificacoes > ul {
    display: block;
    width: 100%;
    height: 80%;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: absolute; }
    section.qualificacoes > ul li {
      width: 50%;
      padding: 15% 20px;
      height: 100%;
      float: left; }
      section.qualificacoes > ul li:nth-child(odd) {
        border-right: 1px dashed rgba(255, 153, 0, 0.9); }
      section.qualificacoes > ul li p {
        margin: 5% 0; }
        section.qualificacoes > ul li p small {
          display: block;
          font-weight: 500; }

section.portifolio {
  padding: 80px 0 100px 0; }
  section.portifolio > ul {
    display: inline-block;
    width: 100%;
    text-align: center;
    height: auto; }
    section.portifolio > ul li {
      display: inline-block;
      position: relative;
      width: 33.333333333%;
      overflow: hidden;
      vertical-align: top;
      float: left; }
      section.portifolio > ul li img {
        width: 100%; }
      section.portifolio > ul li a {
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.9); }
        section.portifolio > ul li a * {
          -webkit-transition: all 0.4s ease;
          -moz-transition: all 0.4s ease;
          -o-transition: all 0.4s ease;
          transition: all 0.4s ease; }
        section.portifolio > ul li a > div {
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
          padding: 35% 0;
          opacity: 0;
          background: rgba(0, 0, 0, 0.85);
          -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
          opacity: 0; }
        section.portifolio > ul li a p {
          margin: 0; }
        section.portifolio > ul li a i {
          font-size: 2em;
          color: rgba(255, 204, 0, 0.9); }
      section.portifolio > ul li:hover img {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2); }
      section.portifolio > ul li:hover a > div {
        padding: 26% 0;
        opacity: 1; }
  section.portifolio .carousel {
    height: 0;
    overflow: hidden;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    position: relative; }
    section.portifolio .carousel.aberto {
      height: calc(100vh - 209px); }
    section.portifolio .carousel img {
      height: 80%;
      clear: both;
      display: inline-block;
      margin: 4% 2% 4% calc(2% + 50px);
      float: left; }
    section.portifolio .carousel .flickity-viewport,
    section.portifolio .carousel .flickity-slider,
    section.portifolio .carousel .carousel-cell {
      height: calc(100vh - 209px) !important; }
    section.portifolio .carousel .flickity-prev-next-button {
      background: rgba(255, 204, 0, 0.9); }
    section.portifolio .carousel .itens {
      display: block;
      height: 100%;
      width: 100vw;
      position: relative; }
      section.portifolio .carousel .itens div {
        width: 35%;
        position: absolute;
        right: calc(2% + 50px);
        top: 50%;
        -webkit-transform: translate(0, -50%);
        -moz-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%); }
      section.portifolio .carousel .itens h4 {
        margin: 0 0 10px 0;
        color: rgba(255, 153, 0, 0.9); }
      section.portifolio .carousel .itens strong {
        width: 115px;
        display: inline-block;
        color: #666666; }
      section.portifolio .carousel .itens a {
        color: rgba(255, 153, 0, 0.9); }
        section.portifolio .carousel .itens a:hover {
          text-decoration: underline; }

section.contato {
  background-image: url(../img/bgs/mbs-bgs-contato.jpg);
  padding: 80px 0 0 0; }
  section.contato > div {
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: absolute;
    top: calc(50% + 80px); }
    section.contato > div * {
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7); }
    section.contato > div h2 {
      color: rgba(255, 255, 255, 0.9);
      padding: 10px; }
    section.contato > div small {
      color: rgba(255, 255, 255, 0.9); }
    section.contato > div address {
      display: block;
      margin: 50px;
      font-size: 1.3em;
      line-height: 1.3;
      color: #ff0;
      font-weight: 500; }
      section.contato > div address a {
        color: inherit; }

/***********************************************/

/*# sourceMappingURL=estilos.css.map */
