@font-face {
    font-family: 'oswald_';
    font-style: normal;
    font-weight: normal;
    src: url('fontes/oswald-stencil-webfont.eot');
    src: url('fontes/oswald-stencil-webfont.eot?#iefix') format('embedded-opentype'), url('fontes/oswald-stencil-webfont.woff2') format('woff2'), url('fontes/oswald-stencil-webfont.woff') format('woff'), url('fontes/oswald-stencil-webfont.ttf') format('truetype'), url('fontes/oswald-stencil-webfont.svg#oswald_stencilregular') format('svg');
}


@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,600&subset=latin-ext');

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(fontes/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(fontes/MaterialIcons-Regular.woff2) format('woff2'),
       url(fontes/MaterialIcons-Regular.woff) format('woff'),
       url(fontes/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
