footer {
    
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    @include gradiente-radial(#e6e6e8, #dbdadf);
    border-bottom: 13px solid #a8a8a8;
    padding: 20px 0;
    font-size: 0.95em;
    
    p.cprght {
        display: block;
        text-align: center;
        width: auto;
        margin: 30px auto 0 auto;
    }
    
    ul {
        display: block;
        width: 82.2%;
        margin: 0 auto;
        
        li {
            display: inline-block;
            vertical-align: top;
            width: 41.33%;
            height: 110px;
            padding: 20px 0;
            border-right: 1px dotted #aaa;
            
            a {
                 display: inline-block;
                 width: 50%;
                 margin: 0 -5px 20px 0;
                 color: #587dc3;
                 text-transform: uppercase;
                padding: 0 0 0 20px;
                
            
            }
            
            &:nth-child(2) {                
             width: 39.33%;
                text-align: center;
                
                form {
                    text-align: left;
                    display: inline-block;
                    width: 340px;                    
                }
                
                h2 {
                    display: inline-block;
                    width: auto;
                    margin: 0 0 5px 0;
                    color: #587dc3;
                    
                }
                
                input[type="email"] {
                    border: 0;
                    width: 225px;
                    height: 20px;
                    font-size: 0.9em;

                }                
                
                input[type="submit"] {
                    font-size: 0.9em;
                     background-color: #99B6E0;
                    height: 20px;
                    width: auto;
                    padding: 0 15px;
                    text-align: center;
                    border: none;
                    margin: 0 0 0 5px;
                    color: white;
                }
            }
            
            &:nth-child(3) {                
             border: none;
            width: 19.33%;

            }
        }
        
    }
        
}


.redessociais {
    display: block;
    width: 100%;
    text-align: center;
    padding: 0px 15px;
}

.redessociais li {
    display: inline-block;
    vertical-align: top;
    margin: 0 3px;
    border: none!important;
    width: 32px!important;
    height: 32px;
    padding: 0!important;
}

.redessociais li a {
    display: inline-block;
    width: 32px;
    height: 32px;
    text-indent: -9999px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    
    &:hover {
     -webkit-filter: grayscale(1);   
     -moz-filter: grayscale(1);   
     -o-filter: grayscale(1);   
     filter: grayscale(1);   
    }
}

.redessociais li a[href *="facebook"] {
    background: url("../img/dcs-icn-redessociais.png") 0 0 no-repeat;
}

.redessociais li a[href *="twitter"] {
    background: url("../img/dcs-icn-redessociais.png") -32px 0 no-repeat;
}

.redessociais li a[href *="instagram"] {
    background: url("../img/dcs-icn-redessociais.png") -64px 0 no-repeat;
}

.redessociais li a[href *="pinterest"] {
    background: url("../img/dcs-icn-redessociais.png") -96px 0 no-repeat;
}

.assinatura {
    display: inline-block;
    position: absolute;
    right: 9.8%;
    bottom: 40px;
}