@mixin centraliza {
    display: block;
    width: 80%;
    margin: 0 auto;
}

@mixin transicao($tempo) {
    
    -webkit-transition: all $tempo ease;
    -moz-transition: all $tempo ease;
    -o-transition: all $tempo ease;
    transition: all $tempo ease;
    
} 

@mixin sombra($tamanho, $corsombra) {
    
    -webkit-box-shadow: 0px 0px $tamanho $corsombra;
    -moz-box-shadow: 0px 0px $tamanho $corsombra;
    box-shadow: 0px 0px $tamanho $corsombra;
    
}

@mixin borda-redonda($espessura) {
    -webkit-border-radius: $espessura;
    -moz-border-radius: $espessura;
    border-radius: $espessura;
}


@mixin centralizador($x, $y) {
    -webkit-transform: translate($x, $y);
    -moz-transform: translate($x, $y);
    -o-transform: translate($x, $y);
    -ms-transform: translate($x, $y);
    transform: translate($x, $y);
}

@mixin centraliza-tudo {
	@include centralizador(-50%, -50%);
	top: 50%;
	left: 50%;
	position: absolute;
}


@mixin gradiente-radial($interior, $exterior) {
	background: -webkit-gradient(radial, center center, 0, center center, 460, from($interior), to($exterior));
	background: -webkit-radial-gradient(circle, $interior, $exterior);
	background: -moz-radial-gradient(circle, $interior, $exterior);
	background: -o-radial-gradient(circle, $interior, $exterior);
	background: -ms-radial-gradient(circle, $interior, $exterior);
	background: radial-gradient(circle, $interior, $exterior);
}


@mixin gradiente-linear($interior, $exterior) {
    background: -webkit-gradient(linear, left top, right top, from($interior), to($exterior));
    background: -webkit-linear-gradient(top, $interior, $exterior);
    background: -moz-linear-gradient(top, $interior, $exterior);
    background: -o-linear-gradient(top, $interior, $exterior);
    background: -ms-linear-gradient(top, $interior, $exterior);
    background: linear-gradient(top, $interior, $exterior);
}