<div class="jumbotron">
    <h1 class="text-center">AluraPic</h1>
</div>

<div class="row" id="filtrar">
    <div class="col-md-12">
        <form>
            <div class="input-group">
                <span class="input-group-btn"><a href="fotos/new" class="btn btn-primary">NOVO</a></span>
                <input type="text" class="form-control" placeholder="Filtrar" ng-model="filtro" ng-model-options="{ debounce: 0 }">
            </div>
        </form>
    </div>
</div>

<div class="row">
    <p ng-show="mensagem.length" class="alert alert-info">
        {{mensagem}}
    </p>
    <meu-painel class="col-md-4 painel-animado" ng-repeat="foto in fotos | filter: filtro" titulo="{{foto.titulo}}">
        <minha-foto url="{{foto.url}}" titulo="{{foto.titulo}}" clique="{{foto._id}}">
        </minha-foto>

        <a class="btn btn-primary btn-block" href="fotos/edit/{{foto._id}}">Editar</a>
<!--        <button class="btn btn-danger btn-block" ng-click="remover(foto)">Remover</button>-->
        <meu-botao-perigo nome="Remover" acao="remover(foto)"></meu-botao-perigo>
        
    </meu-painel>
</div>
