
$cor-texto: #777777;
$cor-fundo: #ffffff;
$cor-marrom: #322721;

$laranja: #f67f00;
$azul: #0095ee;
$marsala: rgba(103, 50, 50, 0.9);
 

$fonte-principal: 'Open Sans', sans-serif; 
$fonte-titulos: 'Oswald', sans-serif;
$fonte-tamanho-base: 14px;

html, body { width: 100%; height: 100% }

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $fonte-titulos;
    text-transform: uppercase;
    font-weight: normal;
    color: #888;
}

a {
    text-decoration: none;
}


@mixin centraliza {
    display: block;
    width: 80%;
    margin: 0 auto;
    color: $cor-texto;
}

strong {
    font-weight: bold;
}

body {
    color: $cor-texto;
    font-family: $fonte-principal;
    font-size: $fonte-tamanho-base;
    background: $cor-fundo;    
}

@mixin margem($tamanho) {
    margin: $tamanho;
}

@mixin transicao($tempo) {
    
    -webkit-transition: all $tempo ease;
    -moz-transition: all $tempo ease;
    -o-transition: all $tempo ease;
    transition: all $tempo ease;
    
}

@mixin sombra($tamanho) {
    
    -webkit-box-shadow: 0px 0px $tamanho #000000;
    -moz-box-shadow: 0px 0px $tamanho #000000;
    box-shadow: 0px 0px $tamanho #000000;
    
}

@mixin borda-redonda($espessura) {
    -webkit-border-radius: $espessura;
    -moz-border-radius: $espessura;
    border-radius: $espessura;
}


@mixin centralizador($x, $y) {
    -webkit-transform: translate($x, $y);
    -moz-transform: translate($x, $y);
    -o-transform: translate($x, $y);
    -ms-transform: translate($x, $y);
    transform: translate($x, $y);
}

@mixin centraliza-tudo {
	@include centralizador(-50%, -50%);
	top: 50%;
	left: 50%;
	position: absolute;
}


@mixin gradiente-radial($interior, $exterior) {
	background: -webkit-gradient(radial, center center, 0, center center, 460, from($interior), to($exterior));
	background: -webkit-radial-gradient(circle, $interior, $exterior);
	background: -moz-radial-gradient(circle, $interior, $exterior);
	background: -o-radial-gradient(circle, $interior, $exterior);
	background: -ms-radial-gradient(circle, $interior, $exterior);
	background: radial-gradient(circle, $interior, $exterior);
	background-color: $exterior;	
}