
section {
    display: block;
    position: relative;
}

article {
    display: block;
}

.centraliza {

    @include centraliza-tudo;
    display: block;
    width: 100%; 
}

section.clientes {
    
    height: auto;
    background-size: cover;
    width: 100%;
    text-align: center;
    padding: 60px 0 0 0;
    
    ul {
        display: block;
        width: 100%;
        margin: 50px 0 0 -2px;
        
        li {
            display: inline-block;
            vertical-align: middle;
            width: 20%;
            height: 140px;
            margin-right: -4px;
            
            a {
                text-indent: -9999px;
                width: 100%;
                display: block;
                height: 100%;
                background: url(../img/puma-home.png) center center no-repeat;
                @include transicao(0.4s);
                
                &:hover {
                                    -webkit-filter: grayscale(1) opacity(0.5); 
                filter: grayscale(1) opacity(0.5); 
                }

            }
            
            &:nth-child(2) a {
                background: url(../img/trackandfield-home.png) center center no-repeat;                
            }
            &:nth-child(3) a {
                background: url(../img/fullfit-home.png) center center no-repeat;                
            }
            &:nth-child(4) a {
                background: url(../img/quiksilver-home.png) center center no-repeat;                
            }
            &:nth-child(5) a {
                background: url(../img/cori-home.png) center center no-repeat;                
            }
        }
    }
    
}


section.outras {
    
    
    @include gradiente-radial(#ffffff, #ddd);
    height: auto;
    background-size: cover;
    width: 100%;
    text-align: center;
    padding: 60px 0 0 0;
    
    
    article {
        background: #fff;
        display: block;
        width: 100%;
        height: 350px;
        margin: 0 0 0 -3px;
        text-align: center;
        overflow: hidden;
        @include transicao(0.4s);


        
        div, figure {
            display: inline-block;
            vertical-align: top;
            width: 50%;
            height: 100%;
            margin-right: -2px;
        }
        
        & div:nth-of-type(2) span {
           background: url(../img/outros/b2u-bsync.png) center center no-repeat; 
        }
        
        
        div {
            padding: 90px 0;
            
            
            a {
                color: #666;
                border-color: #666;
                width: auto;
                
                &:hover {
                    border-color: $marsala;
                }
                
                
                b {
                    font-weight: bold;
                }
            }
            
            span {
                display: block;
                height: 50px;
                background: url(../img/outros/b2u-qlikview.png) center center no-repeat;
                margin: 0 0 5px 0;
                text-indent: -9999px;
                margin-left: -4%!important;
            }
            

            small {
                font-size: 1.5em;
                display: block;
                margin: 5px 0;
                margin-left: -4%!important;
            }

            p {
            font-size: 1.20em;
            height: auto;
            display: block;
            margin: 0 0 20px 0;
                padding: 0 40px;
                margin-left: -4%!important;
            }
            
            
        }
        

        

    }
    

    
    
    
    & article:nth-of-type(1) > figure  {
        background: url(../img/outros/b2u-outros-01.png) center center no-repeat;
        text-indent: -9999px;
        background-size: cover; 
        @include transicao(0.4s);
    }
    
    & article:nth-of-type(2) > figure {
        background: url(../img/outros/b2u-outros-02.png) center center no-repeat;
        text-indent: -9999px;
        background-size: cover;
        @include transicao(0.4s);
    }
    
    & article:hover {
        background: rgba(0,0,0,0.025);
        
        > figure {
            -webkit-transform: scale(1.05);
            -moz-transform: scale(1.05);
            -ms-transform: scale(1.05);
            -o-transform: scale(1.05);
            transform: scale(1.05);  
            
        -webkit-filter: grayscale(1); 
        filter: grayscale(1); 
        }
    }
    
}







section.incloud {

    @include gradiente-radial(#ffffff, #ddd);
    background-image: url(../img/b2u-incloud-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
    background-size: cover;
    width: 100%;
    text-align: center;
    padding: 60px 0 0 0;
     
    div {
        width: 683px;
        height: 435px;
        background: url(../img/b2u-incloud-nuvem.png) center center no-repeat; 
        padding: 110px 60px;
        
        a {
            margin: 90px 0 0 0;
            color: $azul;
            border-color: $laranja;
            
            &:hover {
                border-color: $marsala;
                
                strong {
                    color: white;
                }

            }
            
            strong {
                color: $laranja;
            }
        }
        
        p {
            font-size: 1.20em;
            height: auto;
            display: block;
            margin: 0 0 20px 0;
        }
        
        span {
            display: block;
            height: 78px;
            background: url(../img/b2u-incloud.png) center center no-repeat;
            margin: 0 0 5px 0;
            text-indent: -9999px;
        }
        
    }
    
}


section.codex {
    height: auto;
    background: url(../img/b2u-codex-bg.jpg) center center no-repeat;
    background-size: cover;
    width: 100%;
    text-align: center;
    padding: 60px 0 0 0;
    
    div {
        width: 50%;
        color: white;
        @include centralizador(-100%, -50%);
        
        a {
            color: white;
            border-color: white;
            margin: 30px 0 0 0;
        }
        
        span {
        display: block;
        text-transform: none;
        font-size: 1.5em;
        font-weight: 300;
        margin: 0 0 20px 0;            
        }


        
        h2 {
        color: white;
        }
        
        small {
         display: inline-block;
            width: 133px;
            height: 45px;
         margin: -12px 5px 0 5px;
         vertical-align: middle;
        background: url(../img/b2u-codex.png) center center no-repeat;
            text-indent: -9999px;
        }

        p {
            padding: 20px 40PX;
            font-size: 1.20em;
            line-height: 1.4;
            height: auto;
            color: white;
            display: block;
            margin: 0 0 20px 0;
            background: rgba(0,0,0,0.5);
        }

    }
    
        

    

    
    
}


section.intranex {
    @include gradiente-radial(#ffffff, #d0d0d0);
    height: auto;
    background-size: cover;
    width: 100%;
    text-align: center;
    padding: 60px 0 0 0;
    
    
    ul {
        display: block;
        width: 100%;
        margin: 60px 0 30px -5px;
        
        li {
            display: inline-block;
            vertical-align: top;
            width: 33.3333333333%;
            margin-right: -3px;
            position: relative;
            

            
            figure {
                display: block;
                width: 100%;
                overflow: hidden;

                
                img {
                    width: 100%;
                    height: 300px;
                    @include transicao(0.6s);
                                                
                }
            }
            
            a {
                display: block;
                width: 100%;
                color: #777;
                
                div {
                    display: block;
                    position: absolute;
                    @include centralizador(-50%, -100%);
                    @include transicao(0.4s);
                    left: 50%;
                    width: auto;
                    height: auto;
                    padding: 10px 40px;
                    background: rgba(0,0,0,0.7); 
                    color: white;
                    text-transform: uppercase;
                    
                    &:hover {
                        padding: 15px 40px;
                    }
                }
                
                &:hover > figure img {
                    -webkit-transform: scale(1.1);
                    -moz-transform: scale(1.1);
                    -ms-transform: scale(1.1);
                    -o-transform: scale(1.1);
                    transform: scale(1.1);   
                }
                
                span {
                    display: block;
                    height: 53px;
                    background: url(../img/b2u-afv.png) center center no-repeat;
                    text-indent: -9999px;
                }
                
                small {
                    font-size: 1.25em;
                    font-weight: bold;
                    display: block;
                    margin: 20px 0;
                }
                
                p {
                    padding: 0 20px;
                    font-size: 1.20em;
                    height: 70px;
                }
                
            }
            
            &:nth-child(2)  a span {
               background: url(../img/b2u-bsb.png) center center no-repeat;
 
            }
            
            &:nth-child(3)  a span {
               background: url(../img/b2u-wifi.png) center center no-repeat;
 
            }
            
            
        }
    }

}






section.goflash {
    @include gradiente-radial(#ffffff, #f0f0f0);
    height: auto;
    background-size: cover;
    background-image: url(../img/b2u-goflash-bg.jpg);
    width: 100%;
    text-align: center;
    
    article {
        display: inline-block;
        vertical-align: top;
        width: 55%;
        height: 100%;
        margin: 0 0.25%;
        padding: 100px;
        position: relative;
        

        
        &:nth-child(2) {
            width: 43%;
            text-indent: -9999px;
            background: url(../img/b2u-goflash-tela.png) center bottom no-repeat;            

        }
        
        span {
            text-indent: -9999px;
            display: block;
            width: 304px;
            height: 76px;
            margin: 0 auto 20px auto;
            background: url(../img/b2u-logo-goflash.png) center center no-repeat;

        }
        
        small {
            display: block;
            margin: 0 0 20px 0;
            font-size: 2em;
            color: $marsala;
            font-family: $fonte-titulos;
            font-weight: 300;          
        }
        
        p {
            line-height: 1.2;
            font-size: 1.25em;
            display: block;
            margin: 25px 0;
            
            strong {
              color: #999;
            }
        }
    }
}
