/***********************************************/
/***********************************************/



$texto-base: 'Roboto',
sans-serif;
$titulo-base: 'Open Sans';
$cor-base: #fdd633;

.titulo {
    font-weight: 700;
}


@mixin centraliza {
    display: block;
    width: 80%;
    margin: 0 auto;
}

@mixin transicao($tempo) {

    -webkit-transition: all $tempo ease;
    -moz-transition: all $tempo ease;
    -o-transition: all $tempo ease;
    transition: all $tempo ease;

}

@mixin sombra($tamanho, $corsombra) {

    -webkit-box-shadow: 0px 0px $tamanho $corsombra;
    -moz-box-shadow: 0px 0px $tamanho $corsombra;
    box-shadow: 0px 0px $tamanho $corsombra;

}

@mixin borda-redonda($espessura) {
    -webkit-border-radius: $espessura;
    -moz-border-radius: $espessura;
    border-radius: $espessura;
}


@mixin centralizador($x, $y) {
    -webkit-transform: translate($x, $y);
    -moz-transform: translate($x, $y);
    -o-transform: translate($x, $y);
    -ms-transform: translate($x, $y);
    transform: translate($x, $y);
}

@mixin centraliza-tudo {
    @include centralizador(-50%, -50%);
    top: 50%;
    left: 50%;
    position: absolute;
}


@mixin gradiente-radial($interior, $exterior) {
    background: -webkit-gradient(radial, center center, 0, center center, 460, from($interior), to($exterior));
    background: -webkit-radial-gradient(circle, $interior, $exterior);
    background: -moz-radial-gradient(circle, $interior, $exterior);
    background: -o-radial-gradient(circle, $interior, $exterior);
    background: -ms-radial-gradient(circle, $interior, $exterior);
    background: radial-gradient(circle, $interior, $exterior);
}


@mixin gradiente-linear($interior, $exterior) {
    background: -webkit-gradient(linear, left top, right top, from($interior), to($exterior));
    background: -webkit-linear-gradient(top, $interior, $exterior);
    background: -moz-linear-gradient(top, $interior, $exterior);
    background: -o-linear-gradient(top, $interior, $exterior);
    background: -ms-linear-gradient(top, $interior, $exterior);
    background: linear-gradient(top, $interior, $exterior);
}

@mixin push--auto {
    margin: {
        left: auto;
        right: auto;
    }
}

@mixin input-placeholder {
    &.placeholder {
        @content;
    }

    &:-moz-placeholder {
        @content;
    }

    &::-moz-placeholder {
        @content;
    }

    &:-ms-input-placeholder {
        @content;
    }

    &::-webkit-input-placeholder {
        @content;
    }
}

@mixin pseudo($display: block, $pos: absolute, $content: '') {
    content: $content;
    display: $display;
    position: $pos;
}

@mixin responsive-ratio($x, $y, $pseudo: false) {
    $padding: unquote(($y / $x) * 100 + '%');

    @if $pseudo {
        &:before {
            @include pseudo($pos: relative);
            width: 100%;
            padding-top: $padding;
        }
    }

    @else {
        padding-top: $padding;
    }
}

@mixin css-triangle($color, $direction, $size: 6px, $position: absolute, $round: false) {
    @include pseudo($pos: $position);
    width: 0;
    height: 0;

    @if $round {
        border-radius: 3px;
    }

    @if $direction==down {
        border-left: $size solid transparent;
        border-right: $size solid transparent;
        border-top: $size solid $color;
        margin-top: 0 - round($size / 2.5);
    }

    @else if $direction==up {
        border-left: $size solid transparent;
        border-right: $size solid transparent;
        border-bottom: $size solid $color;
        margin-bottom: 0 - round($size / 2.5);
    }

    @else if $direction==right {
        border-top: $size solid transparent;
        border-bottom: $size solid transparent;
        border-left: $size solid $color;
        margin-right: -$size;
    }

    @else if $direction==left {
        border-top: $size solid transparent;
        border-bottom: $size solid transparent;
        border-right: $size solid $color;
        margin-left: -$size;
    }
}



@mixin font-source-sans($size: false, $colour: false, $weight: false, $lh: false) {
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;

    @if $size {
        font-size: $size;
    }

    @if $colour {
        color: $colour;
    }

    @if $weight {
        font-weight: $weight;
    }

    @if $lh {
        line-height: $lh;
    }
}


/***********************************************/
/***********************************************/

.f-l {
    float: left;
}

.cl-b {
    clear: both;
}

.d-n {
    display: none;
}

.p-r {
    position: relative;
}

.p-a {
    position: absolute;
}

.c-0-0 {
    left: 0;
    top: 0;
    transform: translate(0, 0);
}

.c-50-0 {
    left: 50%;
    transform: translate(-50%, 0);
}

.c-0-50 {
    top: 50%;
    transform: translate(0, -50%);
}

.c-0-50-r {
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
}

.c-50-50 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/***********************************************/
/***********************************************/


html,
body {
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;
    color: white;
    font-family: 'Fira Sans', sans-serif;
    font-size: 11pt;
    font-weight: 200;
}

body {
    padding: 0 0 128px 0;
}

main {

    .fundo {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
    }


    section {
        height: 100%;
        margin: 0 0 8px 0;
    }

}

h2 {
    font-size: 1.25rem;
    line-height: 110%;
    margin: 0.75rem 0 0.75rem 16px;
}

a {
    color: #fdd633
}

.tabs .tab a:focus,
.tabs .tab a:focus.active {
    background-color: transparent !important;
    outline: none;
}

.tabs .indicator {
    background-color: $cor-base;
}

.sidenav-trigger {

    i {
        margin: 0 8px;
        vertical-align: middle;
        display: inline-block;
    }

    big {
        vertical-align: middle;
        display: inline-block;
        font-size: 1.2rem;
        font-weight: 700;
        ;
    }

}

.usuario {
    right: 16px;
    top: 16px;
}

.sidenav {
    width: 140px;
    background-color: rgba(0, 0, 0, 0.8);



    & * {
        color: white !important;
    }

    li {
        width: 90%;

        img {
            display: block;
            width: 70px;
            margin: 32px 16px;
        }

        a {
            padding: 0 16px;

            i {
                margin: 0 8px 0 0 !important;
            }
        }
    }
}

.cabecalho {
    position: fixed;
    top: 0;
    width: 100%;
    height: 64px;
    @include gradiente-linear(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 1));
    @include sombra(30px, #000);
    z-index: 999;
}

.btn {
    background: #cfa12e !important;
    color: white !important;
    font-weight: 500;
}

.chip {
    display: inline-block;
    height: 32px;
    font-size: 13px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
    line-height: 32px;
    padding: 0;
    border-radius: 16px;
    background-color: #e4e4e4;
    margin-bottom: 0;
    margin-right: 0;

    img {
        margin: 0;
    }
}

footer {

    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 55px;
    @include gradiente-linear(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1));
    @include sombra(30px, #000);
    z-index: 999;

    ul {
        display: block;
        width: 100%;
        height: 100%;

        li {
            display: inline-block;
            vertical-align: bottom;
            float: left;
            width: 20%;
            height: inherit;
            text-align: center;

            a {
                display: block;
                height: inherit;

                i.material-icons {
                    color: #fdd633;
                    font-size: 2.5rem;
                }
            }

            &:nth-child(3) > a > i.material-icons {
                font-size: 4rem;
            }
        }
    }

}
