#login {

    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;

    .loader {
        @include gradiente-radial(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
        z-index: 999;
    }

    .abertura {

        position: absolute;
        top: 0;
        z-index: 0;
        left: 0;
        width: 100vw;
        height: 0;
        position: absolute;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.55);

        .carousel.carousel-slider {
            height: 100% !important;
            width: 100% !important;
        }
    }

    .fundo {

        background: url(../img/bgs/bg-login.jpg) center bottom no-repeat;
        background-size: cover;
        filter: grayscale(100%);
        z-index: -1;
    }

    & section > div {
        width: 80%;
        height: auto;

        img {
            display: block;
            width: 79px;
            margin: 0 auto 36px auto;
        }

        a {
            color: white;
        }

        input[type="submit"] {
            display: block;
            background: #cfa12e;
            border: none;
            border-radius: 15px;
            width: 90%;
            height: 50px;
            color: white;
            font-size: 1.2rem;
            margin: 0 auto;
            @include transicao(0.4s);

            &:hover {
                width: 100%;
            }
        }

        .dados {

            & * {
                color: white !important;
            }

            input {
                border-bottom-color: white;
            }

        }

    }


    div#wave {
        position: absolute;
        top: 50%;
        text-align: center;
        width: 100%;
        height: 100px;
        margin-left: auto;
        margin-right: auto;
        transform: translate(0px, -100%);

        .line {
            display: inline-block;
            width: 12px;
            margin-right: 3px;
            @include gradiente-radial(rgba(253, 214, 51, 0.9), rgba(253, 214, 51, 1));

            animation: wave 1.3s linear infinite;

            &:nth-child(1) {
                height: 10px;
            }

            &:nth-child(2) {
                height: 20px;
                animation-delay: -1.2s;
            }

            &:nth-child(3) {
                height: 30px;
                animation-delay: -1.1s;
            }

            &:nth-child(4) {
                height: 40px;
                animation-delay: -1.0s;
            }

            &:nth-child(5) {
                height: 50px;
                animation-delay: -0.9s;
            }
        }
    }



}

@keyframes wave {

    0%,
    60%,
    100% {
        transform: initial;
    }

    40% {
        transform: translateY(-20px);
    }
}
