#index {

    height: 100%;

    .fundo {

        background: url(../img/bgs/bg-login.jpg) center bottom no-repeat;
        background-size: cover;
        filter: grayscale(100%);
        z-index: -1;
    }

    & section > div {
        width: 80%;
        height: auto;

        img {
            display: block;
            width: 115px;
            margin: 0 auto;
        }

        a {
            color: white;
        }

        input[type="submit"] {
            display: block;
            background: #cfa12e;
            border: none;
            border-radius: 15px;
            width: 90%;
            height: 50px;
            color: white;
            font-size: 1.2rem;
            margin: 0 auto;
            @include transicao(0.4s);

            &:hover {
                width: 100%;
            }
        }

        .dados {

            & * {
                color: white !important;
            }

            input {
                border-bottom-color: white;
            }

        }

    }

}
