#vouchers {

    height: auto;
    padding: 72px 0;

    section {

        min-height: 100px;
        background: rgba(0, 0, 0, 0.8);
        border-bottom: 1px solid #fdd633;
        border-right: 1px solid #fdd633;
        margin: 16px;
        border-radius: 8px;
        overflow: hidden;

        &:hover {
            img {
                filter: grayscale(0);
            }
        }

        img {
            position: absolute;
            width: 100%;
            filter: grayscale(1);
            opacity: 0.55;
        }



        a {
            position: absolute;
            right: 0;
            height: 100%;
            background: $cor-base;
            padding: 16px;
            width: 48px;
            border: none;
            z-index: 99;
            @include transicao(0.4s);

            i {
                color: black;
            }

            &:hover {
                width: 68px;
            }

        }

        div.card-image {
            position: absolute;
        }

        div.card-image > div {

            position: absolute;
            width: 100%;
            height: 50px;
            @include gradiente-linear(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1));
            @include sombra(30px, #000);
            bottom: 0;
            z-index: 88;

            .card-title {
                font-weight: 700;
                color: #fdd633;
                bottom: initial;
                top: 8px;
                padding: 16px;
                font-size: 16px;
            }

            .card-subtitle {
                position: absolute;
                bottom: -11px;
                left: 16px;
                font-size: 1rem;
            }

            big {
                position: absolute;
                width: 64px;
                height: 64px;
                border-radius: 50%;
                background: rgba(0, 0, 0, 0.5);
                top: -21px;
                right: 60px;
                padding: 20px 10px;
                font-size: 1.5rem;
                font-weight: 700;
                color: #FDD628;
                border: 1px solid white;
            }

        }



    }


    a {
        color: $cor-base;

        &:hover img {
            -webkit-filter: grayscale(0) !important;
            filter: grayscale(0) !important;
            @include transicao(0.8s);
        }
    }

    .fundo {

        background: url(../img/bgs/bg-login.jpg) center bottom no-repeat;
        background-size: cover;
        filter: grayscale(100%);
        z-index: -1;

    }

    & section > div {
        width: 100%;
        height: 80px;

        a {
            color: white;
        }




    }



}
