@media (min-width: 2000px) and (max-width: 2560px) {}

@media (min-width: 1500px) and (max-width: 1999px) {}

@media (min-width: 1281px) and (max-width: 1440px) {}


@media (min-width: 1025px) and (max-width: 1280px) {}

@media (min-width: 769px) and (max-width: 1024px) {}


@media (min-width: 768px) and (max-width: 768px) {}


@media screen and (max-width: 767px) {

    header {
        height: 64px;
        padding: 13px 0;
    }

    .logo {
        max-height: 37px;
    }

    .logo svg {
        margin: 5px 10px;
        max-height: 26px;
    }

    .logo span {
        font-size: 17px;
        padding: 50px 6px;
    }

    section.banner {
        border-top: 1px solid #fff;
    }

    section.banner .banner-texto div {
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        position: absolute;
        top: 50%;
        left: 50%;
        padding: 8px;
        width: 96%;
    }

    form.inscreva-se input[type=text] {
        width: calc(100% - 150px);
    }

    section.banner {
        height: 418px;
    }

    section.banner {
        background: #ffffff url(../img/veja-insights-banner-bg-achatado.png) center center no-repeat;
        background-size: cover;
    }

    section.materias {
        padding: 8px 4%;
    }

    section.materias div.materias-bloco article {
        display: block;
        vertical-align: top;
        float: left;
        width: 100%;
        margin: 24px 0 !important;
    }

    section.modal > div {
        width: 328px;
        padding: 16px;
    }

    section.modal > div .logo {
        margin-bottom: 8px;
    }

    form.inscreva-se span {
        font-size: 10px;
    }

    form.inscreva-se.inscreva-se-modal input[type=text] {
        width: calc(100% - 110px);
    }

    form.inscreva-se button {
        font-size: 12px;
        width: 110px;
        padding: 1px 8px;
    }

    section.modal > div .logo {
        max-height: 37px;
        width: 172px;
    }

    section.modal > div .logo svg {
        margin: 5px 16px;
        max-height: 24px;
    }

    section.modal > div .logo span {
        font-size: 17px;
        padding: 50px 6px;
    }



}
