/*************** ARQUIVOS DE SCSS **************/
/******************* FONTES *******************/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Fira+Sans:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
/***********************************************/
/***********************************************/
.titulo {
  font-weight: 700;
}

/***********************************************/
/***********************************************/
.f-l {
  float: left;
}

.cl-b {
  clear: both;
}

.d-n {
  display: none;
}

.p-r {
  position: relative;
}

.p-a {
  position: absolute;
}

.c-0-0 {
  left: 0;
  top: 0;
  transform: translate(0, 0);
}

.c-50-0 {
  left: 50%;
  transform: translate(-50%, 0);
}

.c-0-50 {
  top: 50%;
  transform: translate(0, -50%);
}

.c-0-50-r {
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
}

.c-50-50 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/***********************************************/
/***********************************************/
html,
body {
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
  color: white;
  font-family: "Fira Sans", sans-serif;
  font-size: 11pt;
  font-weight: 200;
}

main .fundo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}
main section {
  height: 100%;
  margin: 0 0 8px 0;
}

h2 {
  font-size: 1.25rem;
  line-height: 110%;
  margin: 0.75rem 0 0.75rem 16px;
}

a {
  color: #fdd633;
}

.sidenav-trigger i {
  margin: 0 8px;
  vertical-align: middle;
  display: inline-block;
}
.sidenav-trigger big {
  vertical-align: middle;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 700;
}

.usuario {
  right: 16px;
  top: 16px;
}

.sidenav {
  width: 140px;
  background-color: rgba(0, 0, 0, 0.8);
}
.sidenav * {
  color: white !important;
}
.sidenav li {
  width: 90%;
}
.sidenav li img {
  display: block;
  width: 70px;
  margin: 32px 16px;
}
.sidenav li a {
  padding: 0 16px;
}
.sidenav li a i {
  margin: 0 8px 0 0 !important;
}

.cabecalho {
  position: fixed;
  top: 0;
  width: 100%;
  height: 64px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.7)), to(black));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.7), black);
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.7), black);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.7), black);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.7), black);
  background: linear-gradient(top, rgba(0, 0, 0, 0.7), black);
  -webkit-box-shadow: 0px 0px 30px #000;
  -moz-box-shadow: 0px 0px 30px #000;
  box-shadow: 0px 0px 30px #000;
  z-index: 999;
}

.btn {
  background: #cfa12e !important;
  color: white !important;
  font-weight: 500;
}

.chip {
  display: inline-block;
  height: 32px;
  font-size: 13px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
  line-height: 32px;
  padding: 0;
  border-radius: 16px;
  background-color: #e4e4e4;
  margin-bottom: 0;
  margin-right: 0;
}
.chip img {
  margin: 0;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 55px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(black));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), black);
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.5), black);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.5), black);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.5), black);
  background: linear-gradient(top, rgba(0, 0, 0, 0.5), black);
  -webkit-box-shadow: 0px 0px 30px #000;
  -moz-box-shadow: 0px 0px 30px #000;
  box-shadow: 0px 0px 30px #000;
  z-index: 999;
}
footer ul {
  display: block;
  width: 100%;
  height: 100%;
}
footer ul li {
  display: inline-block;
  vertical-align: bottom;
  float: left;
  width: 20%;
  height: inherit;
  text-align: center;
}
footer ul li a {
  display: block;
  height: inherit;
}
footer ul li a i.material-icons {
  color: #fdd633;
  font-size: 2.5rem;
}
footer ul li:nth-child(3) > a > i.material-icons {
  font-size: 4rem;
}

.p-0 {
  padding: 0;
}

.p-4 {
  padding: 4px;
}

.p-8 {
  padding: 8px;
}

.p-16 {
  padding: 16px;
}

.p-32 {
  padding: 32px;
}

.p-48 {
  padding: 48px;
}

.p-64 {
  padding: 64px;
}

.p-v-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.p-v-4 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.p-v-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.p-v-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.p-v-32 {
  padding-top: 32px;
  padding-bottom: 32px;
}

.p-v-48 {
  padding-top: 48px;
  padding-bottom: 48px;
}

.p-v-64 {
  padding-top: 64px;
  padding-bottom: 64px;
}

.p-h-0 {
  padding-left: 0;
  padding-right: 0;
}

.p-h-4 {
  padding-left: 4px;
  padding-right: 4px;
}

.p-h-8 {
  padding-left: 8px;
  padding-right: 8px;
}

.p-h-16 {
  padding-left: 16px;
  padding-right: 16px;
}

.p-h-32 {
  padding-left: 32px;
  padding-right: 32px;
}

.p-h-48 {
  padding-left: 48px;
  padding-right: 48px;
}

.p-h-64 {
  padding-left: 64px;
  padding-right: 64px;
}

.p-b-0 {
  padding-bottom: 0;
}

.p-t-0 {
  padding-top: 0;
}

.p-l-0 {
  padding-left: 0;
}

.p-r-0 {
  padding-right: 0;
}

.p-b-4 {
  padding-bottom: 4px;
}

.p-t-4 {
  padding-top: 4px;
}

.p-l-4 {
  padding-left: 4px;
}

.p-r-4 {
  padding-right: 4px;
}

.p-b-8 {
  padding-bottom: 8px;
}

.p-t-8 {
  padding-top: 8px;
}

.p-l-8 {
  padding-left: 8px;
}

.p-r-8 {
  padding-right: 8px;
}

.p-b-16 {
  padding-bottom: 16px;
}

.p-t-16 {
  padding-top: 16px;
}

.p-l-16 {
  padding-left: 16px;
}

.p-r-16 {
  padding-right: 16px;
}

.p-b-32 {
  padding-bottom: 32px;
}

.p-t-32 {
  padding-top: 32px;
}

.p-l-32 {
  padding-left: 32px;
}

.p-r-32 {
  padding-right: 32px;
}

.p-b-48 {
  padding-bottom: 48px;
}

.p-t-48 {
  padding-top: 48px;
}

.p-l-48 {
  padding-left: 48px;
}

.p-r-48 {
  padding-right: 48px;
}

.p-b-64 {
  padding-bottom: 64px;
}

.p-t-64 {
  padding-top: 64px;
}

.p-l-64 {
  padding-left: 64px;
}

.p-r-64 {
  padding-right: 64px;
}

/*#endregion */
/*#region [margins] */
.m-0 {
  margin: 0;
}

.m-4 {
  margin: 4px;
}

.m-8 {
  margin: 8px;
}

.m-16 {
  margin: 16px;
}

.m-24 {
  margin: 24px;
}

.m-32 {
  margin: 32px;
}

.m-48 {
  margin: 48px;
}

.m-64 {
  margin: 64px;
}

.m-v-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.m-v-4 {
  margin-top: 4px;
  margin-bottom: 4px;
}

.m-v-8 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.m-v-16 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.m-v-24 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.m-v-32 {
  margin-top: 32px;
  margin-bottom: 32px;
}

.m-v-48 {
  margin-top: 48px;
  margin-bottom: 48px;
}

.m-v-64 {
  margin-top: 64px;
  margin-bottom: 64px;
}

.m-h-0 {
  margin-left: 0;
  margin-right: 0;
}

.m-h-4 {
  margin-left: 4px;
  margin-right: 4px;
}

.m-h-8 {
  margin-left: 8px;
  margin-right: 8px;
}

.m-h-16 {
  margin-left: 16px;
  margin-right: 16px;
}

.m-h-32 {
  margin-left: 32px;
  margin-right: 32px;
}

.m-h-48 {
  margin-left: 48px;
  margin-right: 48px;
}

.m-h-64 {
  margin-left: 64px;
  margin-right: 64px;
}

.m-t-1 {
  margin-top: 1px;
}

.m-b-1 {
  margin-bottom: 1px;
}

.m-l-1 {
  margin-left: 1px;
}

.m-r-1 {
  margin-right: 1px;
}

.m-t-0 {
  margin-top: 0;
}

.m-b-0 {
  margin-bottom: 0;
}

.m-l-0 {
  margin-left: 0;
}

.m-r-0 {
  margin-right: 0;
}

.m-t-4 {
  margin-top: 4px;
}

.m-b-4 {
  margin-bottom: 4px;
}

.m-l-4 {
  margin-left: 4px;
}

.m-r-4 {
  margin-right: 4px;
}

.m-t-8 {
  margin-top: 8px;
}

.m-b-8 {
  margin-bottom: 8px;
}

.m-l-8 {
  margin-left: 8px;
}

.m-r-8 {
  margin-right: 8px;
}

.m-t-24 {
  margin-top: 24px;
}

.m-b-24 {
  margin-bottom: 24px;
}

.m-l-24 {
  margin-left: 24px;
}

.m-r-24 {
  margin-right: 24px;
}

.m-b-16 {
  margin-bottom: 16px;
}

.m-t-16 {
  margin-top: 16px;
}

.m-l-16 {
  margin-left: 16px;
}

.m-r-16 {
  margin-right: 16px;
}

.m-b-24 {
  margin-bottom: 24px;
}

.m-t-24 {
  margin-top: 24px;
}

.m-l-24 {
  margin-left: 24px;
}

.m-r-24 {
  margin-right: 24px;
}

.m-b-32 {
  margin-bottom: 32px;
}

.m-t-32 {
  margin-top: 32px;
}

.m-l-32 {
  margin-left: 32px;
}

.m-r-32 {
  margin-right: 32px;
}

.m-b-48 {
  margin-bottom: 48px;
}

.m-t-48 {
  margin-top: 48px;
}

.m-l-48 {
  margin-left: 48px;
}

.m-r-48 {
  margin-right: 48px;
}

.m-b-64 {
  margin-bottom: 64px;
}

.m-t-64 {
  margin-top: 64px;
}

.m-l-64 {
  margin-left: 64px;
}

.m-r-64 {
  margin-right: 64px;
}

.pos-r {
  position: relative;
}

.pos-a {
  position: absolute;
}

.pos-f {
  position: fixed;
}

.v-a-m {
  vertical-align: middle;
}

.v-a-t {
  vertical-align: top;
}

.f-r {
  float: right;
}

.d-n {
  display: none;
}

#login {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
}
#login .loader {
  background: -webkit-gradient(radial, center center, 0, center center, 460, from(black), to(black));
  background: -webkit-radial-gradient(circle, black, black);
  background: -moz-radial-gradient(circle, black, black);
  background: -o-radial-gradient(circle, black, black);
  background: -ms-radial-gradient(circle, black, black);
  background: radial-gradient(circle, black, black);
  z-index: 999;
}
#login .abertura {
  position: absolute;
  top: 0;
  z-index: 0;
  left: 0;
  width: 100vw;
  height: 0;
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.55);
}
#login .abertura .carousel.carousel-slider {
  height: 100% !important;
  width: 100% !important;
}
#login .fundo {
  background: url(../img/bgs/bg-login.jpg) center bottom no-repeat;
  background-size: cover;
  filter: grayscale(100%);
  z-index: -1;
}
#login section > div {
  width: 80%;
  height: auto;
}
#login section > div img {
  display: block;
  width: 79px;
  margin: 0 auto 36px auto;
}
#login section > div a {
  color: white;
}
#login section > div input[type=submit] {
  display: block;
  background: #cfa12e;
  border: none;
  border-radius: 15px;
  width: 90%;
  height: 50px;
  color: white;
  font-size: 1.2rem;
  margin: 0 auto;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
#login section > div input[type=submit]:hover {
  width: 100%;
}
#login section > div .dados * {
  color: white !important;
}
#login section > div .dados input {
  border-bottom-color: white;
}
#login div#wave {
  position: absolute;
  top: 50%;
  text-align: center;
  width: 100%;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  transform: translate(0px, -100%);
}
#login div#wave .line {
  display: inline-block;
  width: 12px;
  margin-right: 3px;
  background: -webkit-gradient(radial, center center, 0, center center, 460, from(rgba(253, 214, 51, 0.9)), to(#fdd633));
  background: -webkit-radial-gradient(circle, rgba(253, 214, 51, 0.9), #fdd633);
  background: -moz-radial-gradient(circle, rgba(253, 214, 51, 0.9), #fdd633);
  background: -o-radial-gradient(circle, rgba(253, 214, 51, 0.9), #fdd633);
  background: -ms-radial-gradient(circle, rgba(253, 214, 51, 0.9), #fdd633);
  background: radial-gradient(circle, rgba(253, 214, 51, 0.9), #fdd633);
  animation: wave 1.3s linear infinite;
}
#login div#wave .line:nth-child(1) {
  height: 10px;
}
#login div#wave .line:nth-child(2) {
  height: 20px;
  animation-delay: -1.2s;
}
#login div#wave .line:nth-child(3) {
  height: 30px;
  animation-delay: -1.1s;
}
#login div#wave .line:nth-child(4) {
  height: 40px;
  animation-delay: -1s;
}
#login div#wave .line:nth-child(5) {
  height: 50px;
  animation-delay: -0.9s;
}

@keyframes wave {
  0%, 60%, 100% {
    transform: initial;
  }
  40% {
    transform: translateY(-20px);
  }
}
#index {
  height: 100%;
}
#index .fundo {
  background: url(../img/bgs/bg-login.jpg) center bottom no-repeat;
  background-size: cover;
  filter: grayscale(100%);
  z-index: -1;
}
#index section > div {
  width: 80%;
  height: auto;
}
#index section > div img {
  display: block;
  width: 115px;
  margin: 0 auto;
}
#index section > div a {
  color: white;
}
#index section > div input[type=submit] {
  display: block;
  background: #cfa12e;
  border: none;
  border-radius: 15px;
  width: 90%;
  height: 50px;
  color: white;
  font-size: 1.2rem;
  margin: 0 auto;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
#index section > div input[type=submit]:hover {
  width: 100%;
}
#index section > div .dados * {
  color: white !important;
}
#index section > div .dados input {
  border-bottom-color: white;
}

#home {
  height: auto;
  padding: 72px 0;
}
#home a {
  color: #fdd633;
}
#home a:hover img {
  -webkit-filter: grayscale(0) !important;
  filter: grayscale(0) !important;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
#home .fundo {
  background: url(../img/bgs/bg-login.jpg) center bottom no-repeat;
  background-size: cover;
  filter: grayscale(100%);
  z-index: -1;
}
#home section > div {
  width: 100%;
  height: auto;
}
#home section > div a {
  color: white;
}
#home div.card-image {
  border: 1px solid #fff;
  border-left: 2px solid #fdd633;
  border-bottom: 2px solid #fdd633;
}
#home div.card-image img {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}
#home div.card-image > div {
  position: absolute;
  width: 100%;
  height: 80px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(black));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), black);
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.5), black);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.5), black);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.5), black);
  background: linear-gradient(top, rgba(0, 0, 0, 0.5), black);
  -webkit-box-shadow: 0px 0px 30px #000;
  -moz-box-shadow: 0px 0px 30px #000;
  box-shadow: 0px 0px 30px #000;
  bottom: 0;
}
#home div.card-image > div .card-title {
  font-weight: 700;
  color: #fdd633;
  bottom: initial;
  top: 8px;
  padding: 16px;
}
#home div.card-image > div .card-subtitle {
  position: absolute;
  bottom: 8px;
  left: 16px;
  font-size: 1rem;
}
#home div.card-image > div .card-subtitle:last-child {
  left: initial;
  right: 16px;
}

#festa {
  height: auto;
  padding: 72px 0;
}
#festa a {
  color: #fdd633;
}
#festa .fundo {
  background: url(../img/bgs/bg-login.jpg) center bottom no-repeat;
  background-size: cover;
  filter: grayscale(100%);
  z-index: -1;
}
#festa section > div {
  width: 100%;
  height: auto;
}
#festa section > div a {
  color: white;
}
#festa div.card-image {
  border-left: 2px solid #fdd633;
}
#festa div.card-image > div {
  position: absolute;
  width: 100%;
  height: 80px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(black));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), black);
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.5), black);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.5), black);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.5), black);
  background: linear-gradient(top, rgba(0, 0, 0, 0.5), black);
  -webkit-box-shadow: 0px 0px 30px #000;
  -moz-box-shadow: 0px 0px 30px #000;
  box-shadow: 0px 0px 30px #000;
  bottom: 0;
}
#festa div.card-image > div .card-title {
  font-weight: 700;
  color: #fdd633;
  bottom: initial;
  top: 8px;
  padding: 16px;
}
#festa div.card-image > div .card-subtitle {
  position: absolute;
  bottom: 8px;
  left: 16px;
  font-size: 1rem;
}
#festa div.card-image > div .card-subtitle:last-child {
  left: initial;
  right: 16px;
}
#festa .fotos div {
  display: inline-block;
  vertical-align: top;
  float: left;
  width: 50%;
  padding: 0 8px 0 0;
}
#festa .fotos .fotos-principal img {
  width: 100%;
  border: 1px solid #fff;
  filter: grayscale(1);
}
#festa .fotos .fotos-todas h2 {
  text-align: right;
  font-weight: 100;
  color: #fdd633;
}
#festa .fotos .fotos-todas img {
  display: inline-block;
  width: 48%;
  float: left;
  filter: grayscale(1);
  padding: 0 0 4px 0;
}
#festa .fotos .fotos-todas img:nth-child(even) {
  float: right;
}

#mapa {
  height: 100vh;
  padding: 72px 0;
}
#mapa a {
  color: #fdd633;
}
#mapa .fundo {
  background: url(../img/bgs/bg-login.jpg) center bottom no-repeat;
  background-size: cover;
  filter: grayscale(100%);
  z-index: -1;
}
#mapa section > div {
  width: 100%;
  height: auto;
}
#mapa section > div a {
  color: white;
}
#mapa iframe {
  height: calc(100vh - 50px);
  position: fixed;
  top: 64px;
  left: 0;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

/***********************************************/

/*# sourceMappingURL=estilos.css.map */
