formulario-negocio {
    display: block;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-color: #ddd;
    border-radius: 0;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}


formulario-negocio > div > div > div > button, formulario-negocio > div > div > div > a {
    padding: 10px 30px 8px 30px!important;
    min-width: auto!important;
    border: none!important;
    color: white!important;
    font-size: 1em!important;
    background: rgb(166, 206, 57)!important;
    display: inline-block!important;
    margin: 0 0px 20px 0!important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25)!important;
    text-transform: uppercase!important;
}
formulario-negocio > div > div > div > button:hover, formulario-negocio > div > div > div > a:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15)!important;
}